@media screen and (max-width: 600px) {
    .header-section {
        flex-direction: column;
        margin-left: 50px;
    }

    .items-container {
        flex-direction: column;
        margin-left: 50px;
        gap: 20px;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-content {
        width: 100%;
    }
    .banner-img-container {
        width: 100%;
        margin-top: 30px;
    }

    .row{
        flex-direction: column;
    }

    img{
        width: 100%;
        height: 100%;
    }

    .footer-title img{
       width: 20%;
    }

    .main-letter {
        flex-direction: column;
    }

    .first-letter{
        padding-left: 55px;
    }

    .img-container-letter{
        margin-top: 40px;
    }

    .section-nam {
        display: none;
    }
    
    .container-nam{
        display: none;
    }
    
    .container-4{
        display: none;
    }

    .banner-input input {
        display: none;
    }
    
    .input-btn {
       display: none;
    }
    
}